// Buttons

@mixin button {
    display: block;
    width: fit-content;
    padding: 20px;
    background-color: $color-primary;
    font-family: var(--font-primary);
    border-radius: 12px;
    color: $color-white;
    text-align: center;
    box-shadow: inset 0 2px 6px 0 rgba(152, 163, 255, 0.3);
    cursor: pointer;

    // [State] Hover
    &:hover {
        background-color: darken($color-primary, 6);
    }

    // [State] Pressed
    &:active {
        background-color: darken($color-primary, 12);
        box-shadow: inset 0 4px 12px 0 rgba(60, 60, 60, 0.45);
    }

}

// Blue Button
button,
.button {
    @include button;
}